body{
  margin:0;
  padding:0;
  background:ghostwhite;
  color:black;
  font-size:15px;
}
.header{
  background-color:ghostwhite;
  padding:20px;
  text-align: center;
}
.header h1{
  font-size:60px;
}
.nav{
  background-color: orange;
  overflow:hidden;
  font-size:15px;
  font-weight: bold;

}
.nav a{
  padding:20px;
  color:black;
  text-decoration: none;
  display:block;
  float:left;
  transition: 0.4s;
}
.nav a.active {
  background-color:red;
  color: white;
}
.nav a:hover{
  background-color: gray;
  color:honeydew
}
.card{
  margin:30px auto;
  border-radius:15px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  width:900px;
  height:500px;
  display:flex;
  flex-direction: column;
  float:center;
  }
.container{
  display: flex;
}
.card-image{
  height:50%;
  background-image: linear-gradient(red, yellow); 
  border-radius:15px 15px 0 0;
  position:relative;
}
.photo{
  width:250px;
  margin:25px;
  transition: 0.6s;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background:azure;
}
img:hover{
  transform:scale(1.05);
}
.image-text{
  font-size:x-large;
  right:8em;
  top:2em;
  position: absolute;
}
.about{
  margin:20px;
}
table{
  padding:20px;
}
td{
  padding:20px;
}
.footer{
  padding-top:20px;
  margin:0;
  text-align: center;
}
.card-top{
  height:30%;
  background-image: linear-gradient(red, yellow); 
  border-radius:15px 15px 0 0;
  position:relative;
}
.contact-title{
  font-size: 50px;  
  text-align: center;
}

.contact-form{
  margin:10px;
  padding:10px;
  box-sizing: border-box;
  text-align: center;
}

#submit{
  border-radius:15px;
  background-color:orange;
  color:black;
  font-size: 14px;
  padding:12px 40px;
  border:1px ;
  cursor:pointer;
  transition:0.4s linear;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
}
#submit:hover{
  background:green;
  color:white;
}
.contact-info{
  background:lightgoldenrodyellow;
  border:none;
  margin: 10px;
  outline:none;
  padding:10px;
  font-size: 14px;
  border-radius:5px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
}
.contact-info:hover{
  background:lightsalmon;
  transition:0.4s linear;
}
#name{
  float:left;
  width:200px;
  margin-left:50px;
}
#email{
  float:right;
  width:260px;
}
#message{
  position:relative;
  margin:20px;
  float:left;
  width:95%;
  background-color: linen;
  font-family:sans-serif;
  font-size: 15px;
  resize:none;
  border-radius: 10px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
}
.edu-content,.exp-content{
  text-align: center;
}
.table-left{
  float:left;
  width:400px;
  border:20px;
  margin:15px;
  margin-left:50px;
}
